certifi==2019.11.28
cffi==1.13.2
cycler==0.10.0
Cython==0.29.14
easydict==1.9
kiwisolver==1.1.0
matplotlib==3.1.2
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
msgpack==0.6.2
numpy==1.17.4
olefile==0.46
opencv-python==4.1.2.30
Pillow==6.2.1
protobuf==3.11.2
pycocotools==2.0
pycparser==2.19
pyparsing==2.4.6
python-dateutil==2.8.1
PyYAML==5.3
scipy==1.4.1
six==1.13.0
tensorboardX==2.0
torch==1.0.0
torchvision==0.2.1
